<div class='row-fluid'>	
	<div class='pageayat'>	
		<h1>List All Reading_histories</h1>
		<ul>
			<% @reading_histories.each do |reading_history| %>
			 <li>
			 	<%= link_to reading_history.start_ayat, reading_history_path(reading_history) %>
			 	<%= link_to reading_history.end_ayat, reading_history_path(reading_history) %>
			 </li>
			 <% end %>
		</ul>
		</br>
	</div>
</div>





