 <div class='body-container'>
 	<%= render 'layouts/reminders' %>
	<div class='row-fluid'>
		<div class='span3'>
			<p class="colr">Surah/Chapter</p>
			<div class='surah-container'>
				<ul>
					<li><%= link_to 'All Chapters', mains_path %></li>
					<% @surats.each do |surat| %>
					<li><%= link_to surat.title, surat_path(surat) %></li>
					<% end %>
				</ul>
			</div>
		</div>

		<div class='span9'>
			<div class="body">
				<ol>
						<% @surats.each do |surat| %>
							<li>
								<%= link_to surat.title, surat_path(surat) %>
							</li>
						<% end %>
				</ol>
			</div>
		</div>
	</div>
</div>

									