<div class="row-fluid">
	<div id="banner">
		<div class="aboutt" style="border: 2px solid blue;">
			<h3>About Pimipin Qur'an</h3>
				<p>
					The Pimipin Qur'an is the central religious text of Islam. Muslims believe the Qur’an is the book of Divine guidance and direction for mankind, and consider the original Arabic text the final revelation of Allah (God).All translations of the original Arabic text 
				</p>		
			<h3>Contact us</h3>
				<p>
					For any queries or broken links found in this web or for any other information please send us an email at auliarahmahpimipindie@gmail.com
				</p>	
		</div>	
	</div>	
</div>		
