body{
	background-image:image-url("/assets/mifa.jpg");

}

.left-side {
	float: left;
}
.right-side {
	float: right;
}
.clearer {
	clear:both;
}

.top-10px {
	display: block;
	height: 10px;
}

.surah-container {
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #C0C0C0;

	ul {
		// reset default margin
		margin: 10px; 
		li {
			// menghilangkan titik di sebelah kiri
			list-style-type: none;
		}
	}
}

.carousel {
	float: left;
	width: 600px;
}

#reminders-container{
	background-color: #fff;
	margin: 30px 0px;
	padding: 20px;
}

.picslide{

	img {
		width:900px;
		height: 400px;
	}
}

.footer{
	position: fixed;
	width: 100%;
	height: 100px;
	bottom: 0px;
	img {
		width: 100%;
		height: 100px;
	}
}