body{
	background-image:image-url("/assets/mifa.jpg");
}



.left-side {
	float: left;
}
.right-side {
	float: right;
}
.clearer {
	clear:both;
}

.top-10px {
	display: block;
	height: 10px;
}

.surah-container {
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #C0C0C0;
	margin-left: 2px;
	border: 2px blue solid;
	border-radius: 4px;
	ul {
		// reset default
		
		li {
			// menghilangkan titik di sebelah kiri
			list-style-type: none;
		}
	}
}

.carousel {
	float: left;
	width: 600px;
}

#reminders-container{
	background-color: #C0C0C0;
	border-radius: 2px;
	border:2px solid blue;
	margin: 10px 2px 40px 2px;
	padding: 20px;
}

.body-container{
	background-color: #fff;
	border:2px solid blue; 
	margin-top:22px;
	height: 600px;
}

.picslide{

	img {
		width:900px;
		height: 400px;
	}
}

.footer{
	position: fixed;
	width: 100%;
	height: 100px;
	bottom: 0px;
	img {
		width: 100%;
		height: 100px;
	}
}