body{
	background-image:image-url("/assets/fa.jpg");
}

.left-side {
	float: left;
}
.right-side {
	float: right;
}
.clearer {
	clear:both;
}

.top-10px {
	display: block;
	height: 10px;
}

.surah-container {
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #C0C0C0;

	ul {
		// reset default margin
		margin: 10px; 
		li {
			// menghilangkan titik di sebelah kiri
			list-style-type: none;
		}
	}
}

#reminders-container{
	background-color: #fff;
	margin: 30px 0px;
	padding: 20px;
}