<div id="banner">
	<div class='row-fluid'>
		<div class='span12'>
			<div id='banner'>
				<%= image_tag '/assets/yu.png' %>

					<div class="topbody">
						<button class="btn btn-default btn-primary menu-button marginbt"> Audio</button>
						<button class="btn btn-default btn-primary menu-button"> <a href="/reminders" style="color:white;">Reminder</a></button>
						<button class="btn btn-default btn-primary menu-button"> My Reading History</button>
						<button class="btn btn-default btn-primary menu-button"> About</button>
						<button class="btn btn-default btn-primary menu-button"><a href="/home" style="color:white;">Sign Out</a></button>
						
						<div class="input-append textkanan">
							<input type="text" class="search-query" placeholder="Search">
						</div>
					</div>

				</div>
			</div>
	</div>
</div>

